* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cards de Informações */

.cards-info-gerais {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.cards-info-gerais > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: aqua;
    width: 230px;
    height: 180px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
}

.cards-info-gerais > div > h1 {
    font-size: 1.4em;
}

.cards-info-gerais > div > p {
    font-size: 2.8em;
    font-weight: bold;
    text-decoration: underline;
}

#card-animais {
    background-color: #968c5b;
}

#card-monitoramento {
    background-color: #985a37;
}

#card-vacinas {
    background-color: #c9af6a;
}

#card-alimentacao {
    background-color: #58684d;
}


/* Tabela */

.monitoramento {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.250);
}

.monitoramento > h2 {
    font-size: 1.4em;
    text-align: center;
}

.tabela-monitoramento {
    border-collapse: collapse;
    margin: 20px 0px;
    width: 100%;
    text-align: center;
}

.tabela-monitoramento th {
    padding: 15px;
    font-size: 1.4em;
}

.tabela-monitoramento td {
    padding: 10px;
    font-size: 1.3em;
}

.tabela-monitoramento th, td {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.status {
    text-decoration: underline;
}

.status.registrar {
    color: #ff914d;
}

.status.emdia, .status.regular {
    color: #00bf63;
}

.status.atrasado {
    color: #ff3131;
}

.data-ultima-consulta {
    color: #ff914d;
}

.btn-excluir, .btn-editar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.btn-excluir > img, .btn-editar > img {
    width: 100%;
    height: 100%;
}