* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #58684d;
    width: 100vw;
    height: 15vh;
    display: flex;
}

#logo-header {
    display: flex;
    justify-content: center;
    background-color: #404e39;
    padding: 10px;
    width: 10vw;
}

#title-header {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    color: #ffffff;
    padding: 10px 40px;
    width: 80vw;
}

#perfil-header {
    display: flex;
    padding: 10px 20px;
    width: 10vw;
}

#perfil-header > #perfil-img {
    border-radius: 50%;
}