* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Cabeçalho */

header {
    background-color: #58684d;
    width: 100vw;
    height: 15vh;
    display: flex;
}

.logo-header {
    display: flex;
    justify-content: center;
    background-color: #404e39;
    padding: 20px 10px;
    width: 10vw;
}

.title-header {
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 10px 50px;
    width: 80vw;
    border-left: 1px solid rgba(255, 255, 255, 0.250);
}

.perfil-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
}

.perfil-header > #perfil-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


/* Menu Lateral */

.menu-lateral {
    height: 85vh;
    display: flex;
}

.icones-menu {
    background-color: #404e39;
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icones-menu > a, .categorias-menu > a {
    width: 100%;
    height: 100px;
    text-align: center;
}

.icones-menu > a > img {
    width: 100px;
}

.categorias-menu {
    background-color: #58684d;
    width: 15vw;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(255, 255, 255, 0.250);
    border-top: 1px solid rgba(255, 255, 255, 0.250);
}

.categorias-menu > a {
    padding: 30px 0px 0px 30px;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}

.categorias-menu > .info-site {
    padding: 30px 0px 0px 30px;
    color: #ffffff;
    margin-top: 30vh;
    line-height: 1.3em;
}

.icone-menu-ativo {
    background-color: #58684d;
}

.categoria-menu-ativa {
    background-color: #7f9471;
}


/* Conteúdo Principal */

main {
    display: flex;
}

.principal {
    width: 75vw;
    height: 85vh;
    padding: 50px;
    background-color: #f6f6f6;
}