.registro {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.250);
}

.registro h2 {
    text-align: center;
    font-size: 2em;
}

.tabela-monitoramento {
    border-collapse: collapse;
    margin: 20px 0px;
    width: 100%;
    text-align: center;
}

.tabela-monitoramento th {
    padding: 10px;
    font-size: 1.5em;
}

.tabela-monitoramento td.observacoes {
    font-size: 1em;
    width: 300px;
}

.tabela-monitoramento td {
    padding: 10px;
    font-size: 1.4em;
}

.tabela-monitoramento th, td {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.data-ultima-consulta {
    color: #ff914d;
}

.btn-excluir, .btn-editar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.btn-excluir > img, .btn-editar > img {
    width: 100%;
    height: 100%;
}