* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

#Menu {

    width: 200px;
    background-color: #4c6b35;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 30px;
    color: white;
    font-size: 18px;
}


.h1 {
    background-color: #4c6b35;
    display: flex;
    margin-left: 200px;
    padding: 20px;
    width: 100%;
    background-color: white;

}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}


a {
text-decoration: none;
color: beige;
}




.Itens{
list-style-type:none;
}


li{
padding:  10px 0px 10px ;
}


img{

height: 50px;
margin-left:  800px;

}