.registro {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.250);
}

.registro h2 {
    text-align: center;
    font-size: 2em;
}

.tabela-monitoramento {
    border-collapse: collapse;
    margin: 20px 0px;
    width: 100%;
    text-align: center;
}

.tabela-monitoramento th {
    padding: 15px;
    font-size: 1.7em;
}

.tabela-monitoramento td {
    padding: 10px;
    font-size: 1.5em;
}

.tabela-monitoramento th, td {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.status {
    text-decoration: underline;
}

.status.registrar {
    color: #ff914d;
}

.status.emdia, .status.regular {
    color: #00bf63;
}

.status.atrasado {
    color: #ff3131;
}

.btn-excluir, .btn-editar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.btn-excluir > img, .btn-editar > img {
    width: 100%;
    height: 100%;
}