.relatorios {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;
}

.card-relatorio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    padding: 20px;
    width: 280px;
    height: 260px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.250);
    cursor: pointer;
}

.card-relatorio > p {
    color: #ffffff;
    text-align: center;
    font-size: 2em;
}

.card-relatorio > img {
    width: 200px;
}

#card-status {
    background-color: #58684d;
}

#card-alimentacao {
    background-color: #c9af6a;
}

#card-saude {
    background-color: #ac5e32;
}


