.cadastro-animal {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 25px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.250);
    width: 80%;
}

.cadastro-animal > h2 {
    font-size: 2em;
    text-align: center;
    margin: 20px 0px;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo-input {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 30px;
    width: 100%;
}

.campo-input label {
    display: flex;
    flex-direction: column;
    font-size: 1.7em;
}

.campo-input input {
    width: 400px;
    height: 50px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.250);
    border-radius: 10px;
    font-size: 1em;
    padding: 5px;
    margin: 10px 0px 20px 0px;
}

.form-cadastro button[type="submit"] {
    background-color: #404e39;
    width: 400px;
    height: 50px;
    font-size: 1.7em;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

