{% extends 'base.html' %}

{% block title %} Animais {% endblock %}

{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/animal.css') }}"> {% endblock %}

{% block content %}
    <section class="registro">
        <h2>Tabela de Animais: </h2>
        <table class="tabela-monitoramento">
            <thead>
                <tr>
                    <th>Nome:</th>
                    <th>Espécie:</th>
                    <th>Alimentação:</th>
                    <th>Vacinação:</th>
                    <th><a href="{{ url_for('cadastro_animal') }}" class="btn-novo">Novo</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bela</td>
                    <td>Galinha</td>
                    <td class="status registrar">Registrar+</td>
                    <td class="status registrar">Registrar+</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="{{ url_for('static', filename='img/icone_excluir.png') }}" alt=""></button>
                        <button class="btn-editar"><img src="{{ url_for('static', filename='img/icone_editar.png') }}" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Rex</td>
                    <td>Cachorro</td>
                    <td class="status emdia">Em dia</td>
                    <td class="status regular">Regular</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Luna</td>
                    <td>Égua</td>
                    <td class="status registrar">Registrar+</td>
                    <td class="status regular">Regular</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Mimosa</td>
                    <td>Vaca</td>
                    <td class="status atrasado">Atrasado</td>
                    <td class="status atrasado">Atrasado</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Estrela</td>
                    <td>Leitoa</td>
                    <td class="status emdia">Em dia</td>
                    <td class="status atrasado">Atrasado</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Milk</td>
                    <td>Cabrito</td>
                    <td class="status emdia">Em dia</td>
                    <td class="status regular">Regular</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
            