{% extends 'base.html' %}

{% block title %} Cadastro - Animal {% endblock %}

{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro_animal.css') }}"> {% endblock %}

{% block content %}
    <section class="cadastro-animal">
        <h2>Cadastro de Animal</h2>

        <form class="form-cadastro" autocomplete="off">
            <div class="campo-input">
                <div>
                    <label for="nome">
                        Nome:
                        <input type="text" name="nnome" id="nome" required>
                    </label>
                    <label for="especie">
                        Espécie:
                        <input type="text" name="nespecie" id="especie" required>
                    </label>
                    <label for="data-nasc">
                        Data de Nascimento:
                        <input type="datetime" name="ndata-nasc" id="data-nasc" required>
                    </label>
                </div>
                <div>
                    <label for="saude-animal">
                        Saúde do Animal:
                        <input type="text" name="nsaude-animal" id="saude-animal" required>
                    </label>
                    <label for="historico-vacina">
                        Histórico de Vacinas:
                        <input type="text" name="nhistorico-vacina" id="historico-vacina">
                    </label>
                    <label for="racao">
                        Ração:
                        <input type="text" name="nracao" id="racao" required>
                    </label>
                </div>
            </div>

            <button type="submit">Cadastrar</button>
        </form>
    </section>
{% endblock %}
            
