<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
</head>
<body>
    <div class="menu">
        <div class="img">
            <img class="foto_animal" src="{{ url_for('static', filename='img/logo.png') }}" alt="Imagem de Login">
        </div>

        <div class="login">
            <form action="" method="POST" autocomplete="off">
                <div class="div_borda">
                    <h1>CADASTRO</h1>
                    {{ form.csrf_token }}

                    {{ form.nome.label() }}
                    {{ form.nome() }}
                    
                    {{ form.documento.label() }}
                    {{ form.documento() }}

                    {{ form.cep.label() }}
                    {{ form.cep() }}

                    {{ form.email.label() }}
                    {{ form.email() }}

                    {{ form.senha.label() }}
                    {{ form.senha() }}

                    {{ form.btnSubmit(class='btnSubmit') }}
                </div>
            </form>
        </div>
    </div>
</body>
</html>
