{% extends 'base.html' %}

{% block title %} Cadastro - Animal {% endblock %}

{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro_animal.css') }}"> {% endblock %}

{% block content %}
    <section class="cadastro-animal">
        <h2>Cadastro de Animal</h2>

        <form class="form-cadastro" autocomplete="off" method="POST">
            {{ form.csrf_token }}
            <div class="campo-input">
                <div>
                    {{ form.nome.label() }}
                    {{ form.nome() }}
                    {{ form.especie.label() }}
                    {{ form.especie(class='select-input') }}
                    {{ form.data_nascimento.label() }}
                    {{ form.data_nascimento() }}
                </div>
                <div>
                    {{ form.peso.label() }}
                    {{ form.peso() }}
                    {{ form.observacoes.label() }}
                    {{ form.observacoes(class='text-area-input') }}
                </div>
            </div>
            {{ form.btnSubmit(class='btnSubmit') }}
        </form>
    </section>
{% endblock %}
            
