{% extends 'base.html' %}

{% block title %} Cadastro - Alimentação {% endblock %}

{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro_alimentacao.css') }}"> {% endblock %}

{% block content %}
    <section class="cadastro">
        <h2>Cadastro de Alimentação</h2>

        <form class="form-cadastro" autocomplete="off" method="POST">
            {{ form.csrf_token }}
            <div class="campo-input">
                <div>
                    {{ form.animal_id.label() }}
                    {{ form.animal_id(class='select-input') }}
                    {{ form.tipo_racao.label() }}
                    {{ form.tipo_racao() }}
                </div>
                <div>
                    {{ form.quantidade.label() }}
                    {{ form.quantidade() }}
                    {{ form.data_hora.label() }}
                    {{ form.data_hora() }}
                </div>
            </div>
            {{ form.btnSubmit(class='btnSubmit') }}
        </form>
    </section>
{% endblock %}
            
