{% extends 'base.html' %}


{% block title %} Dashboard {% endblock %}

{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"> {% endblock %}

{% block content %}
    <section class="cards-info-gerais">
        <div id="card-animais">
            <h1>Animais:</h1>
            <p>50</p>
        </div>
        <div id="card-monitoramento">
            <h1>Monitoramento:</h1>
            <p>9</p>
        </div>
        <div id="card-vacinas">
            <h1>Vacinas:</h1>
            <p>47/50</p>
        </div>
        <div id="card-alimentacao">
            <h1>Alimentação:</h1>
            <p>48</p>
        </div>
    </section>

    <section class="monitoramento">
        <h2>Animais em Monitoramento: </h2>

        <table class="tabela-monitoramento">
            <thead>
                <tr>
                    <th>Nome:</th>
                    <th>Espécie:</th>
                    <th>Alimentação:</th>
                    <th>Vacinação:</th>
                    <th>Última consulta:</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Bela</td>
                    <td>Galinha</td>
                    <td class="status registrar">Registrar+</td>
                    <td class="status atrasado">Atrasado+</td>
                    <td class="data-ultima-consulta">28/10/2025</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Rex</td>
                    <td>Cachorro</td>
                    <td class="status emdia">Em dia</td>
                    <td class="status atrasado">Atrasado</td>
                    <td class="data-ultima-consulta">29/10/2025</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Luna</td>
                    <td>Égua</td>
                    <td class="status registrar">Registrar+</td>
                    <td class="status atrasado">Atrasado</td>
                    <td class="data-ultima-consulta">20/10/2025</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Mimosa</td>
                    <td>Vaca</td>
                    <td class="status atrasado">Atrasado</td>
                    <td class="status atrasado">Atrasado</td>
                    <td class="data-ultima-consulta">19/10/2025</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Estrela</td>
                    <td>Leitoa</td>
                    <td class="status emdia">Em dia</td>
                    <td class="status atrasado">Atrasado</td>
                    <td class="data-ultima-consulta">11/10/2025</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Milk</td>
                    <td>Cabrito</td>
                    <td class="status emdia">Em dia</td>
                    <td class="status atrasado">Atrasado</td>
                    <td class="data-ultima-consulta">10/10/2025</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}