{% extends 'base.html' %}


{% block title %} Dashboard {% endblock %}

{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"> {% endblock %}

{% block content %}
    <section class="cards-info-gerais">
        <div id="card-animais">
            <h1>Animais:</h1>
            <p>{{ dados.total_animais }}</p>
        </div>
        <div id="card-monitoramento">
            <h1>Monitoramento:</h1>
            <p>{{ dados.total_monitoramento }}</p>
        </div>
        <div id="card-vacinas">
            <h1>Vacinas:</h1>
            <p>{{ dados.total_vacinas }}</p>
        </div>
        <div id="card-alimentacao">
            <h1>Alimentação:</h1>
            <p>{{ dados.total_alimentacoes }}</p>
        </div>
    </section>

    <section class="monitoramento">
        <h2>Animais em Monitoramento: </h2>

        <table class="tabela-monitoramento">
            <thead>
                <tr>
                    <th>Nome:</th>
                    <th>Espécie:</th>
                    <th>Saúde:</th>
                    <th>Última alimentação:</th>
                    <th>Última consulta:</th>
                    <th><a href="{{ url_for('add_monitoramento') }}" class="btn-novo">Novo</a></th>
                </tr>
            </thead>

            <tbody>
                {% for linha in resultados %}
                <tr>
                    <td>{{ linha.animal.nome }}</td>
                    <td>{{ linha.animal.especie }}</td>
                    <td>{{ linha.ultima_saude.doenca_condicao if linha.ultima_saude.doenca_condicao else ''}}</td>
                    <td>{{ linha.ultima_alimentacao.data_hora if linha.ultima_alimentacao.data_hora else '' }}</td>
                    <td>{{ linha.ultima_saude.ultima_consulta if linha.ultima_saude.ultima_consulta else ''}}</td>
                    <td class="btns-acoes">
                        <a href="{{ url_for('rem_monitoramento', id=linha.animal.id) }}" class="btn-excluir"><img src="{{ url_for('static', filename='img/icone_excluir.png') }}" alt=""></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}