<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
</head>
<body>
    <div class="menu">
        <div class="img">
            <img class="foto_animal" src="{{ url_for('static', filename='img/logo.png') }}" alt="Imagem de Login">
        </div>

        <div class="login">
            <form class="entrar" action="" method="POST" autocomplete="off">
                <div class="div_borda">
                    <h1>Login</h1>
                    {{ form.csrf_token }}
                    
                    {{ form.email.label() }}
                    {{ form.email() }}

                    {{ form.senha.label() }}
                    {{ form.senha() }}

                    {{ form.btnSubmit(class='btnSubmit') }}
                    
                    <a href="{{ url_for('cadastro') }}" class="cadastrar">Não tem cadastro?</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
