<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="style/sty_padrao.css">
</head>
<body>
    <header>
        <div class="logo-header">
            <img src="img/logo.png" alt="" id="logo-header-img">
        </div>
        <div class="title-header">
            <h1>Sistema de Gerenciamento de Animais de Fazenda</h1>
        </div>
        <div class="perfil-header">
            <img src="img/perfil.png" alt="" id="perfil-img">
        </div>
    </header>

    <main>
        <aside class="menu-lateral">
            <div class="icones-menu">
                <a href="" class="dashboard-menu"><img src="img/dashboard.png" alt=""></a>
                <a href="" class="cadastro-animal-menu"><img src="img/pata_animal.png" alt=""></a>
                <a href="" class="saude-animal-menu"><img src="img/saude_animal.png" alt=""></a>
                <a href="" class="relatorio-menu"><img src="img/relatorio.png" alt=""></a>
            </div>
            <div class="categorias-menu">
                <a href="" class="dashboard-menu">Dashboard</a>
                <a href="" class="cadastro-animal-menu">Cadastro de Animais</a>
                <a href="" class="saude-animal-menu">Saúde dos Animais</a>
                <a href="" class="relatorio-menu">Relatórios</a>

                <p class="info-site">Sistema de Gerenciamento de Animais de Fazenda - @2025</p>
            </div>
        </aside>

        <div class="principal">

        </div> 
    </main>
</body>
</html>