{% extends 'base.html' %}

{% block title %} Relatório - Alimentação {% endblock %}

{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/relatorio_alimentacao.css') }}"> {% endblock %}

{% block header %} Alimentação dos Animais {% endblock %}

{% block content %}
    <section class="registro">
        <h2>Tabela de Registro: </h2>
        <table class="tabela-monitoramento">
            <thead>
                <tr>
                    <th>Animal:</th>
                    <th>Quantidade:</th>
                    <th>Ração:</th>
                    <th>Data:</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bela</td>
                    <td>5 kg</td>
                    <td>Milho</td>
                    <td class="data-ultima-consulta">29/10/2025</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Rex</td>
                    <td>2 kg</td>
                    <td>Ração</td>
                    <td class="data-ultima-consulta">21/10/2025</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Luna</td>
                    <td>23 kg</td>
                    <td>Feno</td>
                    <td class="data-ultima-consulta">19/10/2025</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Mimosa</td>
                    <td>6 kg</td>
                    <td>Capim</td>
                    <td class="data-ultima-consulta">21/10/2025</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Estrela</td>
                    <td>5 kg</td>
                    <td>Lavagem</td>
                    <td class="data-ultima-consulta">21/10/2025</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Milk</td>
                    <td>3 kg</td>
                    <td>Aveia</td>
                    <td class="data-ultima-consulta">21/10/2025</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
            
