{% extends 'base.html' %}

{% block title %} Relatórios {% endblock %}

{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/relatorio.css') }}"> {% endblock %}

{% block content %}
    <section class="relatorios">
        <div class="card-relatorio" id="card-status" onclick="redirecionarPagina(id)">
            <p>Status:</p>
            <img src="{{ url_for('static', filename='img/relatorio_status.png') }}" alt="">
        </div>
        <div class="card-relatorio" id="card-alimentacao" onclick="redirecionarPagina(id)">
            <p>Alimentação:</p>
            <img src="{{ url_for('static', filename='img/relatorio_alimentacao.png') }}" alt="">
        </div>
        <div class="card-relatorio" id="card-saude" onclick="redirecionarPagina(id)">
            <p>Saúde:</p>
            <img src="{{ url_for('static', filename='img/relatorio_saude.png') }}" alt="">
        </div>
    </section>
{% endblock %}
            
