{% extends 'base.html' %}

{% block title %} Relatório - Saúde {% endblock %}

{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/relatorio_saude.css') }}"> {% endblock %}

{% block header %} Saúde dos Animais {% endblock %}

{% block content %}
    <section class="registro">
        <h2>Tabela de Registro: </h2>
        <table class="tabela-monitoramento">
            <thead>
                <tr>
                    <th>Animal:</th>
                    <th>Doença/Condição:</th>
                    <th>Tratamento:</th>
                    <th>Última Consulta:</th>
                    <th>Observações:</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bela</td>
                    <td>Escoliose</td>
                    <td>Alongamentos 2x dia</td>
                    <td class="data-ultima-consulta">01/10/2025</td>
                    <td class="observacoes">Ela sofreu um acidente quando nova</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Rex</td>
                    <td>Hérnia</td>
                    <td>Dipirona de 6 em 6 horas</td>
                    <td class="data-ultima-consulta">21/10/2025</td>
                    <td class="observacoes">Ele sofreu por complicações no nascimento</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Luna</td>
                    <td>Saudável</td>
                    <td>-</td>
                    <td class="data-ultima-consulta">19/10/2025</td>
                    <td class="observacoes">Percebemos que ela não come cenoura</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Mimosa</td>
                    <td>Saudável</td>
                    <td>-</td>
                    <td class="data-ultima-consulta">21/10/2025</td>
                    <td class="observacoes">Tem alergia à ração comum</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Estrela</td>
                    <td>Saudável</td>
                    <td>-</td>
                    <td class="data-ultima-consulta">20/10/2025</td>
                    <td class="observacoes">-</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Milk</td>
                    <td>Gripado</td>
                    <td>Benegrip</td>
                    <td class="data-ultima-consulta">15/10/2025</td>
                    <td class="observacoes">Ele tem problemas respiratórios</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Flor</td>
                    <td>Saudável</td>
                    <td>-</td>
                    <td class="data-ultima-consulta">15/10/2025</td>
                    <td class="observacoes">-</td>
                    <td class="btns-acoes">
                        <button class="btn-excluir"><img src="img/icone_excluir.png" alt=""></button>
                        <button class="btn-editar"><img src="img/icone_editar.png" alt=""></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}