{% extends 'base.html' %}

{% block title %} Saúde {% endblock %}

{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/saude.css') }}"> {% endblock %}

{% block content %}
    <section class="registro">
        <h2>Tabela de Saúde: </h2>
        <table class="tabela">
            <thead>
                <tr>
                    <th>Nome:</th>
                    <th>Espécie:</th>
                    <th>Doença/Condição:</th>
                    <th>Tratamento:</th>
                    <th>Última Consulta:</th>
                    <th>Observações:</th>
                    <th><a href="{{ url_for('cadastro_saude') }}" class="btn-novo">Novo</a></th>
                </tr>
            </thead>
            <tbody>
                {% for linha in saudes %}
                <tr>
                    <td>{{ linha.animal.nome }}</td>
                    <td>{{ linha.animal.especie }}</td>
                    <td>{{ linha.doenca_condicao }}</td>
                    <td>{{ linha.tratamento }}</td>
                    <td>{{ linha.ultima_consulta if linha.ultima_consulta else '' }}</td>
                    <td>{{ linha.observacoes }}</td>
                    <td class="btns-acoes">
                        <a href="{{ url_for('editar_saude', id=linha.id) }}" class="btn-editar"><img src="{{ url_for('static', filename='img/icone_editar.png') }}" alt=""></a>
                        <a href="{{ url_for('excluir_saude', id=linha.id) }}" class="btn-excluir"><img src="{{ url_for('static', filename='img/icone_excluir.png') }}" alt=""></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
            